.productList {
    flex: 4;
}

.productListProduct {
    display: flex;
    align-items: center;
}

.productListImg {
    object-fit: cover;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}

.productListEdit {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.productListDelete {
    color: red;
    cursor: pointer;
}
