.userList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    object-fit: cover;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 5px;
}

.userListEdit {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3bb077;
    cursor: pointer;
    margin-right: 20px;
    color: white;
}

.userListDelete {
    color: red;
    cursor: pointer;
}
