.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: teal;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    margin-right: 20px;
}

.userUpdate {
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.userShowTopTitle {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userShowName {
    font-weight: 600;
    font-size: 20px;
}

.userShowTitleTop {
    font-weight: 300;
    font-size: 14px;
}

.userShowTitle {
    font-weight: 600;
    font-size: 14px;
    color: rgb(175, 170, 170);
}

.userShowBottom {
    margin-top: 20px;
}

.userShowInfo {
    display: flex;
    align-content: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon {
    font-size: 16px !important;
}

.userShowInfoTitle {
    margin-left: 10px;
}

.userUpdateImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.userUpdateTitle {
    font-size: 24px;
    font-weight: 600;
}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem > label {
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput {
    border: none;
    width: 250px;
    height: 30px;
    color: rgb(75, 75, 75);
    border-bottom: 1px solid grey;
}

.userUpdateInput:focus {
    outline: none;
}

.userUpdateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload {
    display: flex;
    align-items: center;
}

.userUpdateIcon {
    cursor: pointer;
}

.userUpdateButton {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}
