.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: teal;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
    margin-right: 20px;
}

.userUpdate {
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 20px;
}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.userShowTopTitle {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userShowName {
    font-weight: 600;
}

.userShowTitle {
    font-weight: 300;
}
